In [17]:
import pandas as pd
df = pd.read_csv(r"/Users/ivanorlov/Desktop/HW1_var_5.csv", sep = ";")
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
Номер варианта,10243.0,5.00,0.00,5.0,5.00,5.00,5.00,5.0
ID,10243.0,1102425.00,59140.87,1000005.0,1051215.00,1102425.00,1153635.00,1204845.0
INSURANCE_FLAG,10243.0,0.60,0.49,0.0,0.00,1.00,1.00,1.0
DTI,10121.0,0.39,0.14,0.0,0.28,0.40,0.49,0.6
FULL_AGE_CHILD_NUMBER,10243.0,0.55,0.79,0.0,0.00,0.00,1.00,14.0
DEPENDANT_NUMBER,10243.0,0.00,0.07,0.0,0.00,0.00,0.00,2.0
BANKACCOUNT_FLAG,7923.0,0.40,0.87,0.0,0.00,0.00,0.00,4.0
Period_at_work,7923.0,66.37,67.47,6.0,21.00,45.00,87.00,966.0
age,7923.0,36.32,8.61,23.0,29.00,35.00,43.00,62.0
max90days,3921.0,1.59,1.88,0.0,0.00,1.00,2.00,18.0
max60days,3921.0,1.14,1.59,0.0,0.00,1.00,2.00,18.0
max30days,3921.0,0.85,1.33,0.0,0.00,0.00,1.00,15.0
max21days,3921.0,0.64,1.16,0.0,0.00,0.00,1.00,15.0
max14days,3921.0,0.52,1.04,0.0,0.00,0.00,1.00,15.0
avg_num_delay,3665.0,0.06,0.10,0.0,0.00,0.01,0.07,1.0
if_zalog,3676.0,0.33,0.47,0.0,0.00,0.00,1.00,1.0
num_AccountActive180,3676.0,0.38,0.68,0.0,0.00,0.00,1.00,5.0
num_AccountActive90,3676.0,0.16,0.43,0.0,0.00,0.00,0.00,4.0
num_AccountActive60,3676.0,0.09,0.34,0.0,0.00,0.00,0.00,4.0
Active_to_All_prc,3676.0,0.42,0.29,0.0,0.22,0.40,0.60,1.0
numAccountActiveAll,3676.0,2.22,1.68,0.0,1.00,2.00,3.00,13.0
numAccountClosed,3676.0,3.56,3.23,0.0,1.00,3.00,5.00,25.0
sum_of_paym_months,3676.0,83.88,72.42,0.0,31.00,64.00,117.25,460.0
all_credits,3676.0,5.78,4.11,1.0,3.00,5.00,8.00,27.0
Active_not_cc,3676.0,1.08,1.05,0.0,0.00,1.00,2.00,7.0
own_closed,3676.0,0.71,1.05,0.0,0.00,0.00,1.00,7.0
min_MnthAfterLoan,3676.0,14.19,15.30,-1.0,4.00,10.00,18.00,107.0
max_MnthAfterLoan,3676.0,61.13,30.32,0.0,35.00,66.00,87.00,171.0
dlq_exist,3676.0,0.56,0.50,0.0,0.00,1.00,1.00,1.0
thirty_in_a_year,3676.0,0.15,0.36,0.0,0.00,0.00,0.00,1.0
sixty_in_a_year,3676.0,0.09,0.28,0.0,0.00,0.00,0.00,1.0
ninety_in_a_year,3676.0,0.07,0.25,0.0,0.00,0.00,0.00,1.0
thirty_vintage,3676.0,0.03,0.17,0.0,0.00,0.00,0.00,1.0
sixty_vintage,3676.0,0.01,0.12,0.0,0.00,0.00,0.00,1.0
ninety_vintage,3676.0,0.01,0.11,0.0,0.00,0.00,0.00,1.0

In [12]:
df.shape

(10243, 44)

In [9]:
df.isna().sum()

Номер варианта              0
ID                          0
INCOME_BASE_TYPE           57
CREDIT_PURPOSE              0
INSURANCE_FLAG              0
DTI                       122
SEX                         0
FULL_AGE_CHILD_NUMBER       0
DEPENDANT_NUMBER            0
EDUCATION                   0
EMPL_TYPE                   9
EMPL_SIZE                 123
BANKACCOUNT_FLAG         2320
Period_at_work           2320
age                      2320
EMPL_PROPERTY            2320
EMPL_FORM                6253
FAMILY_STATUS            6253
max90days                6322
max60days                6322
max30days                6322
max21days                6322
max14days                6322
avg_num_delay            6578
if_zalog                 6567
num_AccountActive180     6567
num_AccountActive90      6567
num_AccountActive60      6567
Active_to_All_prc        6567
numAccountActiveAll      6567
numAccountClosed         6567
sum_of_paym_months       6567
all_credits              6567
Active_not_cc            6567
own_closed               6567
min_MnthAfterLoan        6567
max_MnthAfterLoan        6567
dlq_exist                6567
thirty_in_a_year         6567
sixty_in_a_year          6567
ninety_in_a_year         6567
thirty_vintage           6567
sixty_vintage            6567
ninety_vintage           6567
dtype: int64

In [10]:
df.nunique()

Номер варианта               1
ID                       10243
INCOME_BASE_TYPE             4
CREDIT_PURPOSE              10
INSURANCE_FLAG               2
DTI                         61
SEX                          2
FULL_AGE_CHILD_NUMBER        7
DEPENDANT_NUMBER             3
EDUCATION                    9
EMPL_TYPE                    9
EMPL_SIZE                    8
BANKACCOUNT_FLAG             4
Period_at_work             359
age                         40
EMPL_PROPERTY               12
EMPL_FORM                    6
FAMILY_STATUS                6
max90days                   19
max60days                   18
max30days                   16
max21days                   16
max14days                   15
avg_num_delay             1125
if_zalog                     2
num_AccountActive180         6
num_AccountActive90          5
num_AccountActive60          5
Active_to_All_prc           96
numAccountActiveAll         12
numAccountClosed            22
sum_of_paym_months         336
all_credits                 27
Active_not_cc                8
own_closed                   8
min_MnthAfterLoan          101
max_MnthAfterLoan          131
dlq_exist                    2
thirty_in_a_year             2
sixty_in_a_year              2
ninety_in_a_year             2
thirty_vintage               2
sixty_vintage                2
ninety_vintage               2
dtype: int64

In [11]:
df.isin([0]).sum()

Номер варианта               0
ID                           0
INCOME_BASE_TYPE             0
CREDIT_PURPOSE               0
INSURANCE_FLAG            4104
DTI                          1
SEX                          0
FULL_AGE_CHILD_NUMBER     6154
DEPENDANT_NUMBER         10214
EDUCATION                    0
EMPL_TYPE                    0
EMPL_SIZE                    0
BANKACCOUNT_FLAG          6169
Period_at_work               0
age                          0
EMPL_PROPERTY                0
EMPL_FORM                    0
FAMILY_STATUS                0
max90days                 1082
max60days                 1558
max30days                 1988
max21days                 2377
max14days                 2589
avg_num_delay             1595
if_zalog                  2462
num_AccountActive180      2619
num_AccountActive90       3179
num_AccountActive60       3377
Active_to_All_prc          479
numAccountActiveAll        461
numAccountClosed           417
sum_of_paym_months          12
all_credits                  0
Active_not_cc             1236
own_closed                2115
min_MnthAfterLoan          113
max_MnthAfterLoan            8
dlq_exist                 1606
thirty_in_a_year          3132
sixty_in_a_year           3354
ninety_in_a_year          3431
thirty_vintage            3566
sixty_vintage             3623
ninety_vintage            3628
dtype: int64

In [13]:
df.groupby("SEX")["ID"].count()

SEX
женский    4591
мужской    5652
Name: ID, dtype: int64

In [15]:
df.groupby("CREDIT_PURPOSE")["ID"].count()

CREDIT_PURPOSE
Другое                                  362
Лечение                                 106
Обучение                                127
Отпуск                                  369
Покупка автомобиля                     1769
Покупка бытовой техники                 140
Покупка земли                           137
Покупка мебели                          204
Покупка недвижимости/ строительство    1406
Ремонт                                 5623
Name: ID, dtype: int64

In [16]:
df.groupby("age")["ID"].count()

age
23.0     64
24.0    112
25.0    339
26.0    406
27.0    379
28.0    413
29.0    418
30.0    394
31.0    376
32.0    371
33.0    337
34.0    335
35.0    277
36.0    277
37.0    280
38.0    238
39.0    249
40.0    226
41.0    229
42.0    219
43.0    207
44.0    195
45.0    156
46.0    176
47.0    146
48.0    157
49.0    143
50.0    132
51.0    162
52.0    126
53.0    119
54.0     97
55.0     60
56.0     46
57.0     33
58.0     20
59.0      2
60.0      2
61.0      3
62.0      2
Name: ID, dtype: int64

In [17]:
df.groupby("EMPL_TYPE")["ID"].count()

EMPL_TYPE
вспомогательный персонал    1620
другое                       115
менеджер высшего звена       680
менеджер по продажам         220
менеджер среднего звена     2261
рабочий                     1299
специалист                  3785
страховой агент                2
торговый представитель       252
Name: ID, dtype: int64

df.["age_bins"] = pd.cut(x=df["age"], bins=[20, 25, 30, 35, 40, 45, 50, 55, 60, 65])
df.groupby("age_bins")["ID"].count()

In [19]:
df["age_bins"] = pd.cut(x=df["age"], bins=[20, 25, 30, 35, 40, 45, 50, 55, 60, 65]) 
df.groupby("age_bins")["ID"].count()

age_bins
(20, 25]     515
(25, 30]    2010
(30, 35]    1696
(35, 40]    1270
(40, 45]    1006
(45, 50]     754
(50, 55]     564
(55, 60]     103
(60, 65]       5
Name: ID, dtype: int64

In [20]:
df2 = df.isna().sum().to_frame() 
df3 = df.nunique().to_frame() 
df4 = df.isin([0]).sum().to_frame() 
df5 = df2 / 10243 
df6 = df3 / 10243 
df7 = df4 / 10243 
df_info = pd.concat([df2, df3, df4, df5, df6, df7], axis = 1) 

df_info

                          0      0      0         0         0         0
Номер варианта            0      1      0  0.000000  0.000098  0.000000
ID                        0  10243      0  0.000000  1.000000  0.000000
INCOME_BASE_TYPE         57      4      0  0.005565  0.000391  0.000000
CREDIT_PURPOSE            0     10      0  0.000000  0.000976  0.000000
INSURANCE_FLAG            0      2   4104  0.000000  0.000195  0.400664
DTI                     122     61      1  0.011911  0.005955  0.000098
SEX                       0      2      0  0.000000  0.000195  0.000000
FULL_AGE_CHILD_NUMBER     0      7   6154  0.000000  0.000683  0.600801
DEPENDANT_NUMBER          0      3  10214  0.000000  0.000293  0.997169
EDUCATION                 0      9      0  0.000000  0.000879  0.000000
EMPL_TYPE                 9      9      0  0.000879  0.000879  0.000000
EMPL_SIZE               123      8      0  0.012008  0.000781  0.000000
BANKACCOUNT_FLAG       2320      4   6169  0.226496  0.000391  0.602265
Period_at_work         2320    359      0  0.226496  0.035048  0.000000
age                    2320     40      0  0.226496  0.003905  0.000000
EMPL_PROPERTY          2320     12      0  0.226496  0.001172  0.000000
EMPL_FORM              6253      6      0  0.610466  0.000586  0.000000
FAMILY_STATUS          6253      6      0  0.610466  0.000586  0.000000
max90days              6322     19   1082  0.617202  0.001855  0.105633
max60days              6322     18   1558  0.617202  0.001757  0.152104
max30days              6322     16   1988  0.617202  0.001562  0.194084
max21days              6322     16   2377  0.617202  0.001562  0.232061
max14days              6322     15   2589  0.617202  0.001464  0.252758
avg_num_delay          6578   1125   1595  0.642195  0.109831  0.155716
if_zalog               6567      2   2462  0.641121  0.000195  0.240359
num_AccountActive180   6567      6   2619  0.641121  0.000586  0.255687
num_AccountActive90    6567      5   3179  0.641121  0.000488  0.310358
num_AccountActive60    6567      5   3377  0.641121  0.000488  0.329689
Active_to_All_prc      6567     96    479  0.641121  0.009372  0.046764
numAccountActiveAll    6567     12    461  0.641121  0.001172  0.045006
numAccountClosed       6567     22    417  0.641121  0.002148  0.040711
sum_of_paym_months     6567    336     12  0.641121  0.032803  0.001172
all_credits            6567     27      0  0.641121  0.002636  0.000000
Active_not_cc          6567      8   1236  0.641121  0.000781  0.120668
own_closed             6567      8   2115  0.641121  0.000781  0.206482
min_MnthAfterLoan      6567    101    113  0.641121  0.009860  0.011032
max_MnthAfterLoan      6567    131      8  0.641121  0.012789  0.000781
dlq_exist              6567      2   1606  0.641121  0.000195  0.156790
thirty_in_a_year       6567      2   3132  0.641121  0.000195  0.305770
sixty_in_a_year        6567      2   3354  0.641121  0.000195  0.327443
ninety_in_a_year       6567      2   3431  0.641121  0.000195  0.334960
thirty_vintage         6567      2   3566  0.641121  0.000195  0.348140
sixty_vintage          6567      2   3623  0.641121  0.000195  0.353705
ninety_vintage         6567      2   3628  0.641121  0.000195  0.354193
age_bins               2320      9      0  0.226496  0.000879  0.000000